*{
   box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
}
.main{
   width: 100%;
}
.container_header{
   max-width: 900px;
   margin: 40px auto;
}
.container{
   display: flex;
   max-width: 900px;
   margin: auto;
}
.left_side{
   flex: 1;
   margin-right: 40px;
}
.container .left_side h1{
   margin: 0;
   font-size: 40px;
   color: #3a4b5c;
}
.container .left_side p{
   font-size: 16px;
   margin-bottom: 40px;
   color: #6a7d8b;
}
.container .left_side input{
   width: 100%;
   border: 0;
   border: 1px solid rgba(150, 163, 171, 0.5);
   border-radius: 10px;
   font-size: 30px;
   outline: 0;
   padding: 10px 2px;
   margin-bottom: 20px;
   height: 50px;
}
.container .left_side button{
   background-color: #227c9d;
   color: #fff;
   font-size: 15px;
   font-weight: bold;
   border: 0;
   border-radius: 10px;
   padding: 15px 0;
   width: 100%;
   cursor: pointer;
   margin-top: 40px;
   transition:all ease 0.3s;
}
.container .left_side button:hover{
   background-color: #0fabe4;
}
.container .right_side{
   flex: 1;
   margin-left: 40px;
   display: flex;
}
.container .right_side .grid{
   flex: 1;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
.gridBig{
   flex: 1;
   display: flex;
   margin-bottom: 50px;

}
.container .right_side .arrow{
   position: absolute;
   background-color: #227c9d;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-left: -35px;
   margin-top: 140px;
   transition: all ease 0.3s;
}
.container .right_side:hover{
   opacity: 0.9;
}
.container .right_side .arrow:hover{
   background-color: #0fabe4;
}
