*{
   box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   padding-bottom: 50px;
}
.main{
   width: 100%;
}
.container_header{
   display: flex;
   max-width: 70%;
   margin: 40px auto;
   align-items: center;
   
}
.container{
   display: flex;
   max-width: 70%;
   margin: auto;
}
.left_side{
   flex: 1;
   margin-right: 40px;
}
.container .left_side h1{
   margin: 0;
   font-size: 40px;
   color: #3a4b5c;
}
.container .left_side p{
   font-size: 16px;
   margin-bottom: 40px;
   color: #6a7d8b;
}
.container .left_side input{
   width: 100%;
   border: 0;
   border: 1px solid rgba(150, 163, 171, 0.5);
   border-radius: 10px;
   font-size: 30px;
   outline: 0;
   padding: 10px 2px;
   margin-bottom: 20px;
   height: 50px;
}
.container .left_side input:disabled{
   opacity: 0.5;
}
.container .left_side button{
   background-color: #227c9d;
   color: #fff;
   font-size: 15px;
   font-weight: bold;
   border: 0;
   border-radius: 10px;
   padding: 15px 0;
   width: 100%;
   cursor: pointer;
   margin-top: 40px;
   transition:all ease 0.3s;
}
.container .left_side button:hover{
   background-color: #0fabe4;
}
.container .left_side button:disabled{
   background-color: #227c9d;
   opacity: 0.5;
}
.container .right_side{
   flex: 1;
   margin-left: 40px;
   display: flex;
}
.container .right_side .grid{
   flex: 1;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
.gridBig{
   flex: 1;
   display: flex;
   margin-bottom: 50px;

}
.container .right_side .arrow{
   position: absolute;
   background-color: #227c9d;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-left: -35px;
   margin-top: 140px;
   transition: all ease 0.3s;
}
.container .right_side:hover{
   opacity: 0.9;
}
.container .right_side .arrow:hover{
   background-color: #0fabe4;
}
.footer{
   color: #6a7d8b;
   margin-top: 50px;
   font-weight: 400;
   text-align: center;

}

@media(max-width: 1050px){
   .container{
      width: 100vw;
      max-width: 700px;
      flex-direction: column;
      padding: 0 20px;
      
   }
   .container .right_side,
   .container .left_side{
      margin: 0;
   }
   .container .left_side button{
      height: 100px;
      font-size: 35px;
   }
   .container .right_side .grid{
      margin-top: 50px;
   }
   .gridBig{
      margin-top: 50px;
      display: flex;
      flex-direction: column;

   }
   .container .right_side .arrow{
      position: inherit;
      margin: 20px auto;
    
   }
   
}
@media(max-width:700px){
   .container{
      text-align: center;
   }
   .container .right_side .grid{
      grid-template-columns: 1fr;
   }
}
